/* basic resets */
body{
    margin-left: 0rem 2rem;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.parent{
    /* border: 10px solid red; */
    display: flex;
    /* text inside the parent includes image will be centered */
    text-align: center;
    margin-top: 2rem;
    justify-content: space-evenly;
}
.child{
    width: 30%;
}

/* anchor tags */
a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;

}
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red
}

a:active {
    color: yellow;
}
/* header */
header{
    display: flex;
    /* manages space horizontally */
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin-left: 2rem;
    height: 90%;
}

nav{
   margin-right: 1rem;
}
ul{
    display: flex;
    width: 20rem;
    justify-content: space-evenly;
    
}
ul>li{
   width: 10rem;
   font-size: 1.5rem;
}

/* main image */
.main_image{
    width: 100%;
    height: auto;
}
li{
   list-style: none; 
}

.footer_parent{
    height: 5rem;
    background-color: black;
    /* it is used to perfectly center a div */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;

}

